$background: #f2eded;
$text: #000000;
$primary: #ffffff;
$secondary: #d9d9d9;   

$horizontal-padding: 127px;
$vertical-margin: 120px;

$font-primary: "Jost", sans-serif;
// вместо trajan pro 
$font-secondary: "Cinzel Decorative", cursive;

// evolventa 
$font-tertiary: "Montserrat", sans-serif;

// glastone 
$font-fourth: "Marcellus SC", sans-serif;